<h1>AGRA</h1>
<p>Your daily content:</p>

<div class="pull-right user-info">
  <% if current_user %>
    Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %> or
    <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>
</div>

<div class="row">
    <% @pieces.each do |content| %>
      <%# render partial: 'votes/voter', locals: {vote: Vote.find_or_initialize_by(content: content, user: current_user) } %>
      <%= render partial: 'votes/voter', locals: { content: content } %>
      <div class="media">
      <h4>
        <%= content.title %>
      </h4>
      <p>
        <%= content.blurb %>
      </p>
      <small>
        <%= content.author %>
      </small>
        <%= content.image %>
    <% end %>
    <%= will_paginate @pieces %>
    </div>
</div>
